<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="kursachEntities" connectionString="metadata=res://*/Model.database.csdl|res://*/Model.database.ssdl|res://*/Model.database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M1UIT3L;initial catalog=kursach;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>